eCommerce.UI.MVC/Service References/eCommerceService/eCommerceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eCommerceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/eCommerce/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/eCommerce/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/eCommerce/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" />
      <xsd:import schemaLocation="http://localhost:8733/eCommerce/Service/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/eCommerce.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IeCommerceService_GetProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductos" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_GetProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_AddProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProducto" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_AddProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_DeleteProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProducto" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_DeleteProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_EditProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProducto" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_EditProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_GetProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducto" />
  </wsdl:message>
  <wsdl:message name="IeCommerceService_GetProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IeCommerceService">
    <wsdl:operation name="GetProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IeCommerceService/GetProductos" message="tns:IeCommerceService_GetProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeCommerceService/GetProductosResponse" message="tns:IeCommerceService_GetProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IeCommerceService/AddProducto" message="tns:IeCommerceService_AddProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeCommerceService/AddProductoResponse" message="tns:IeCommerceService_AddProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IeCommerceService/DeleteProducto" message="tns:IeCommerceService_DeleteProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeCommerceService/DeleteProductoResponse" message="tns:IeCommerceService_DeleteProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IeCommerceService/EditProducto" message="tns:IeCommerceService_EditProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeCommerceService/EditProductoResponse" message="tns:IeCommerceService_EditProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IeCommerceService/GetProducto" message="tns:IeCommerceService_GetProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeCommerceService/GetProductoResponse" message="tns:IeCommerceService_GetProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IeCommerceService" type="tns:IeCommerceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductos">
      <soap:operation soapAction="http://tempuri.org/IeCommerceService/GetProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProducto">
      <soap:operation soapAction="http://tempuri.org/IeCommerceService/AddProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProducto">
      <soap:operation soapAction="http://tempuri.org/IeCommerceService/DeleteProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProducto">
      <soap:operation soapAction="http://tempuri.org/IeCommerceService/EditProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducto">
      <soap:operation soapAction="http://tempuri.org/IeCommerceService/GetProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eCommerceService">
    <wsdl:port name="BasicHttpBinding_IeCommerceService" binding="tns:BasicHttpBinding_IeCommerceService">
      <soap:address location="http://localhost:8733/eCommerce/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>