eCommerce.UI.MVC/Service References/eCommerceService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/eCommerce/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" />
  <xs:element name="GetProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:GetProductosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="GetProductosResult" nillable="true" type="q2:GetProductosResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:SaveProductoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="AddProductoResult" nillable="true" type="q4:SaveProductoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:DeleteProductoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="DeleteProductoResult" nillable="true" type="q6:DeleteProductoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="request" nillable="true" type="q7:EditProductoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="EditProductoResult" nillable="true" type="q8:EditProductoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="request" nillable="true" type="q9:GetProductoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eCommerce.Service.DataContracts" minOccurs="0" name="GetProductoResult" nillable="true" type="q10:GetProductoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>